@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 Prevents white space being eaten.
 https://github.com/ueberdosis/tiptap/issues/873
*/
.ProseMirror * {
  white-space: pre-wrap;
  word-wrap: break-word;
}
